.gtc4 {
  grid-template-columns: repeat(4, 1fr);

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }

  @include s-lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include sm {
    grid-template-columns: 1fr;
  }
}
.gtc3 {
  grid-template-columns: repeat(3, 1fr);

  @include s-lg {
    grid-template-columns: repeat(2, 1fr);
  }

  @include sm {
    grid-template-columns: 1fr;
  }
}

.gtc2 {
  grid-template-columns: repeat(2, 1fr);

  @include s-lg {
    grid-template-columns: 1fr;
  }
}

.gtc1 {
  grid-template-columns: 1fr;
}
