@mixin heading-styles(
    $color: $black,
    $font-size,
    $font-weight,
    $line-height,
    $s-lg-font-size
) {
    color: $color;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height;
    @include _1024 {
        font-size: $s-lg-font-size;
    }
}

@mixin text-large {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: -0.4px;
}

@mixin text-small {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

body {
    font-family: sans-serif;
}

@for $i from 1 through 6 {
    h#{$i} {
        margin-top: 0;
    }
}

p,
li,
span {
    @include text-large;
}

// обычные стили для текста
h1,
h1 > * {
    @include heading-styles($text-primary, 55px, 500, 120%, 45px);
}

h2 {
    @include heading-styles($text-primary, 40px, 400, 120%, 35px);
}

h3 {
    @include heading-styles($text-primary, 35px, 600, 120%, 30px);
}

h4 {
    @include heading-styles($text-primary, 27px, 600, 120%, 25px);
}

h5 {
    @include heading-styles($text-primary, 22px, 600, 130%, 20px);
}

h6 {
    @include heading-styles($text-primary, 22px, 600, 120%, 18px);
}

// стили текста который приходят с виз редактора
.redactor {
    > * {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
    p,
    li {
        color: $text-primary;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.4px;

        a {
            cursor: pointer;
            text-decoration: underline;
            color: $text-primary;
            font-size: 20px;
            font-weight: inherit;
            line-height: inherit;
            letter-spacing: inherit;
        }
    }

    ul,
    ol {
        list-style: none;
        padding: 0;

        li {
            padding-left: 50px;
            padding-top: 5px;
            position: relative;
            margin-bottom: 15px;
        }
    }

    ul {
        li::before {
            content: '\e929';
            font-family: 'owlweb' !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            width: 30px;
            height: 30px;
            left: 0;
            top: 5px;
            border-radius: 50%;
            box-shadow: 0 0 0 1px $text-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-primary;
            font-size: 14px;
        }
    }

    ol {
        counter-reset: olcounter;

        li {
            counter-increment: olcounter;

            &::before {
                content: counter(olcounter, decimal-leading-zero);
                position: absolute;
                width: 30px;
                height: 30px;
                left: 0;
                top: 5px;
                box-shadow: 0 0 0 1px $text-primary;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $text-primary;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 125%;
            }
        }
    }
}
