@mixin heading-styles($color: $black, $font-size, $font-weight, $line-height) {
  color: $color;
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin text-large {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: -0.4px;
}

@mixin text-small {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

body {
  font-family: sans-serif;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin-top: 0;
  }
}

// обычные стили для текста
h1 {
  @include heading-styles($color: $text-primary, $font-size: 55px, $font-weight: 700, $line-height: 120%);
}

h2 {
  @include heading-styles($color: $text-primary, $font-size: 40px, $font-weight: 600, $line-height: 120%);
}

h3 {
  @include heading-styles($color: $text-primary, $font-size: 35px, $font-weight: 600, $line-height: 120%);
}

h4 {
  @include heading-styles($color: $text-primary, $font-size: 27px, $font-weight: 600, $line-height: 120%);
}

h5 {
  @include heading-styles($color: $text-primary, $font-size: 22px, $font-weight: 600, $line-height: 130%);
}

h6 {
  @include heading-styles($color: $text-primary, $font-size: 22px, $font-weight: 600, $line-height: 120%);
}

p,
li,
span {
  @include text-large
}

// стили текста который приходят с виз редактора
.redactor {

  p,
  li {
    color: $text-primary;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.4px;

    a {
      cursor: pointer;
      text-decoration: underline;
      color: $text-primary;
      font-size: 20px;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }
  }

  ul,
  ol {
    list-style: none;
    padding: 0;

    li {
      padding-left: 50px;
      padding-top: 5px;
      position: relative;
      margin-bottom: 15px;
    }
  }

  ul {
    li::before {
      content: "\e929";
      font-family: "owlweb" !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: 5px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $text-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-primary;
      font-size: 14px;
    }
  }

  ol {
    counter-reset: olcounter;

    li::before {
      content: counter(olcounter, decimal-leading-zero);
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: 5px;
      box-shadow: 0 0 0 1px $text-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-primary;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
    }
  }
}
