ins {
  text-decoration: none !important;
  font-weight: 800 !important;
}

/* Для WebKit-браузеров */
::-webkit-scrollbar {
  width: 2px;
  /* Ширина скроллбара */
}

// ::-webkit-scrollbar-track {
//     background-color: #f1f1f1;
//     /* Цвет фона трека скроллбара */
// }

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Цвет ползунка скроллбара */
}

/* Для Firefox */
scrollbar {
  width: 10px;
  /* Ширина скроллбара */
}

// scrollbar-track {
//     background-color: #f1f1f1;
//     /* Цвет фона трека скроллбара */
// }

scrollbar-thumb {
  background-color: #888;
  /* Цвет ползунка скроллбара */
}

img {
  width: 100%;
}
