body {
    margin: 0;
    color: #000;
    font-family: 'SF Pro Display';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background: #fff;
    min-width: 380px;
    height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
}

#wrapper {
    overflow: hidden;
}

html,
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    &:hover {
        background: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }

    &:focus {
        background: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }
}

ins {
    text-decoration: none !important;
    font-weight: 800 !important;
}

/* Для WebKit-браузеров */
::-webkit-scrollbar {
    width: 2px;
    /* Ширина скроллбара */
}

// ::-webkit-scrollbar-track {
//     background-color: #f1f1f1;
//     /* Цвет фона трека скроллбара */
// }

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Цвет ползунка скроллбара */
}

/* Для Firefox */
scrollbar {
    width: 10px;
    /* Ширина скроллбара */
}

// scrollbar-track {
//     background-color: #f1f1f1;
//     /* Цвет фона трека скроллбара */
// }

scrollbar-thumb {
    background-color: #888;
    /* Цвет ползунка скроллбара */
}

img {
    width: 100%;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    grid-gap: 5px;

    li {
        transition: 0.3s;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        cursor: pointer;
        background-color: #E1E1E1;

        &.active {
            background-color: #FECA0A;
        }

        &:hover {
            background-color: #FECA0A;
        }
    }
}

.slick-dots {
    bottom: 20px;

    li {
        width: 10px;
        height: 10px;

        &.slick-active button::before {
            background-color: #FECA0A;
        }

        &:hover button::before {
            background-color: #FECA0A;
        }

        button::before {
            width: 10px;
            height: 10px;
            font-size: 0;
            opacity: 1;
            border-radius: 50%;
            background-color: #E1E1E1;
        }
    }
}
