// Основные цвета
$primary: #3498db;
$secondary: #e74c3c;
$tertiary: #2ecc71;

// Цвета текста
$black: #000;
$text-primary: #353535;
$text-secondary: #DFE2F5;
$text-light: #aaa;

// Цвета фона
$bg-primary: #f5f5f5;
$bg-secondary: #eee;
