// Основные цвета
$primary: #FECA0A;
$secondary: #FFF101;
$border-color: #EEEEEE;
$white: #F6F6F6;
$gray-light: #959595;
$gray: #696969;
$black: #000;

// Цвета текста;
$text-primary: #353535;
$text-secondary: #dfe2f5;
$text-light: #aaa;

// Цвета фона
$bg-primary: #f5f5f5;
$bg-secondary: #eee;
