@font-face {
    font-family: 'icons';
    src:  url('/fonts/icons.eot?20q1d2');
    src:  url('/fonts/icons.eot?20q1d2#iefix') format('embedded-opentype'),
      url('/fonts/icons.woff2?20q1d2') format('woff2'),
      url('/fonts/icons.ttf?20q1d2') format('truetype'),
      url('/fonts/icons.woff?20q1d2') format('woff'),
      url('/fonts/icons.svg?20q1d2#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="ic-"], [class*=" ic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .ic-arrow:before {
    content: "\e900";
  }
  .ic-arrow-long:before {
    content: "\e901";
  }
  .ic-arrow-small:before {
    content: "\e902";
  }
  .ic-bell:before {
    content: "\e903";
  }
  .ic-btn:before {
    content: "\e904";
  }
  .ic-burger:before {
    content: "\e905";
  }
  .ic-cart:before {
    content: "\e906";
  }
  .ic-check:before {
    content: "\e907";
  }
  .ic-check-large:before {
    content: "\e908";
  }
  .ic-cloze:before {
    content: "\e909";
  }
  .ic-facebook:before {
    content: "\e90a";
  }
  .ic-favorit:before {
    content: "\e90b";
  }
  .ic-favorit-black:before {
    content: "\e90c";
  }
  .ic-instagram:before {
    content: "\e90d";
  }
  .ic-kyivstar:before {
    content: "\e90e";
  }
  .ic-link:before {
    content: "\e90f";
  }
  .ic-marker:before {
    content: "\e910";
  }
  .ic-owl:before {
    content: "\e911";
  }
  .ic-phone:before {
    content: "\e912";
  }
  .ic-reload:before {
    content: "\e913";
  }
  .ic-search:before {
    content: "\e914";
  }
  .ic-star-1:before {
    content: "\e915";
  }
  .ic-star-2:before {
    content: "\e916";
    color: #6e6e73;
  }
  .ic-telegram:before {
    content: "\e917";
  }
  .ic-triangle:before {
    content: "\e918";
  }
  .ic-twitter:before {
    content: "\e919";
  }
  .ic-user:before {
    content: "\e91a";
  }
  .ic-user-2:before {
    content: "\e91b";
  }
  .ic-viber:before {
    content: "\e91c";
  }
  .ic-vodafone:before {
    content: "\e91d";
  }
  .ic-arrow-bold:before {
    content: "\e91f";
    color: #6e6e73;
  }
  .ic-filter:before {
    content: "\e91e";
  }
